<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Editar Tarea')"></head>
<body>
    <!-- Incluir navbar -->
    <nav th:replace="fragments :: navbar"></nav>

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Editar Tarea</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/tareas/{id}/editar(id=${tarea.id})}">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Título de la tarea</label>
                                <input type="text" class="form-control" id="titulo" name="titulo" 
                                       th:value="${tarea.titulo}" required>
                            </div>
                            
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-secondary me-md-2" th:href="@{/usuarios/{id}/tareas(id=${tarea.usuario.id})}">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments::javascript"/>
</body>
</html>